<div class="app-container p-4 h-100v">
  <div class="container">
    <!-- Content here -->
    <div class="row h-100">
      <div class="col-4">
        <div class="kanban border pb-3">
          <div class="kanban-head p-3">
            All Opportunities
          </div>
          <div class="kanban-body">
            <ng-container *ngFor="let item of opportunities">
              <div draggable [dragData]="item" [dragHandle]="'.drag-handle'" class="kanban-body-item m-3">
                <div class="row">
                  <div class="col-4">
                    <img [src]="item?.profile_photo_urls?.thumb" class="img-thumb" alt="thumnail" />
                  </div>
                  <div class="col-8 pl-0 d-flex justify-content-between pr-4 py-2">
                    <span>{{item?.title}}</span>
                    <span class="lnr lnr-menu drag-handle"></span>
                  </div>
                </div>
              </div>
            </ng-container>
            <div *ngIf="isLoadMoreShown" class="d-flex justify-content-center">
              <a (click)="loadMore()" class="p-1 cursor-pointer">Load more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="kanban border pb-3">
          <div class="kanban-head p-3">
            Column 2
          </div>
          <div droppable (onDrop)="onItemDropColumn2($event)" class="kanban-body">
            <ng-container *ngFor="let colItem of columnTwoItems">
              <div class="kanban-body-item m-3">
                <div class="row">
                  <div class="col-4">
                    <img [src]="colItem?.profile_photo_urls?.thumb" class="img-thumb" alt="thumnail" />
                  </div>
                  <div class="col-8 pl-0 py-2">
                    {{colItem?.title}}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="kanban border pb-3">
          <div class="kanban-head p-3">
            Column 3
          </div>
          <div droppable (onDrop)="onItemDropColumn3($event)" class="kanban-body">
            <ng-container *ngFor="let colItem of columnThreeItems">
              <div class="kanban-body-item m-3">
                <div class="row">
                  <div class="col-4">
                    <img [src]="colItem?.profile_photo_urls?.thumb" class="img-thumb" alt="thumnail" />
                  </div>
                  <div class="col-8 pl-0 py-2">
                    {{colItem?.title}}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
